{% extends "candidate/base.html" %}
{% block title %}HOME{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}

<p class="important">
{% if session['name'] %}
<center>
  <h3 class="well">Last Result</h3><hr>
    <div class="col-lg-12 well">
      <div class="row">


</br></br></br></br></br></br></br>
        <h3 style="color:green;">welcome {{session['name']}}</h3>
        </br></br></br></br></br></br></br></br></br><br><br><br><br><br>
      </div>
    </div>
</center>


  {% else %}

    <p style="color: red"> You still didn't set your Email, do it
        <a href="{{ url_for('candidate') }}">here</a></p>

  {% include 'candidate/session.html' %}
  {% endif %}
</p>

{% endblock %}
